
body{
  
  background-color: rgb(1, 69, 100);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  

}
.container1{
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(83, 81, 81, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form{
  width: 400px;
 overflow: scroll;
 max-height: 600px;
 scrollbar-color:rgb(4, 74, 107) #f1efef;
 border-radius: 20px;
 background: linear-gradient(to left, #66a0f7, #fcfbfa);
 color:rgb(12, 12, 12);
 display: flex;
 flex-direction: column;
 font-style: italic; 
 gap:"20px";
 padding: 20px;


}
label{
  font-size: 26px;
  margin-top: 10px;
  
}

.div4{
  width: 80%;
  bottom:50px;
 position: relative;
  text-align: center;
 background-color: rgb(250, 242, 250);

}